@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

html,
body,
* {
    font-family: 'Roboto', sans-serif;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item, #tpl #Content .menuButtons .dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys {
    transition: .25s ease-in-out;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item, #tpl #Content .menuButtons .dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item {
    padding: 0 !important;
    padding: 12px 16px !important;
    box-sizing: border-box !important;
    border-radius: 60px !important;
    background: #fff;
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 38px;
    border: 1px solid transparent !important;
    min-width: unset !important;
    box-sizing: border-box !important;
}

    #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item img.dxm-image, #tpl #Content .menuButtons .dxm-item img.dxm-image, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys img.dxm-image, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item img.dxm-image,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item img.dxm-image,
    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item img.dxm-image,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item img.dxm-image {
        width: 16px !important;
        height: 16px !important;
        padding: 0 !important;
        margin: 0 !important;
        display: inline-block !important;
    }

    #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item .dx-vam.dxm-ait, #tpl #Content .menuButtons .dxm-item .dx-vam.dxm-ait, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys .dx-vam.dxm-ait, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item .dx-vam.dxm-ait,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item .dx-vam.dxm-ait,
    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item .dx-vam.dxm-ait,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item .dx-vam.dxm-ait {
        display: none;
    }

    #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item span, #tpl #Content .menuButtons .dxm-item span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item span,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item span,
    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item span,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item span {
        text-decoration: none !important;
        color: #7460ee;
    }

    #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink, #tpl #Content .menuButtons .dxm-item > .dxm-content.dxm-hasText.dx.dxalink, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys > .dxm-content.dxm-hasText.dx.dxalink, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink,
    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink {
        box-sizing: border-box;
        padding: 0 !important;
        text-align: center;
        display: inline-block !important;
        background: transparent;
        color: #7460ee;
        margin: 0 auto;
    }

        #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink span, #tpl #Content .menuButtons .dxm-item > .dxm-content.dxm-hasText.dx.dxalink span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys > .dxm-content.dxm-hasText.dx.dxalink span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink span,
        #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink span,
        #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink span,
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink span {
            color: #272c33;
            background: transparent;
        }

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-disabled.dxm-item, #tpl #Content .menuButtons .dxm-disabled.dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxm-disabled.dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-disabled.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-disabled.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-disabled.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-disabled.dxm-item {
    display: none !important;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item:hover:not(.dxm-disabled), #tpl #Content .menuButtons .dxm-item:hover:not(.dxm-disabled), #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys:hover:not(.dxm-disabled), #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item:hover:not(.dxm-disabled),
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item:hover:not(.dxm-disabled),
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled),
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) {
    background: #4caf50 !important;
}

    #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item:hover:not(.dxm-disabled) a, #tpl #Content .menuButtons .dxm-item:hover:not(.dxm-disabled) a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys:hover:not(.dxm-disabled) a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) a,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) a,
    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) a,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) a,
    #Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item:hover:not(.dxm-disabled) span,
    #tpl #Content .menuButtons .dxm-item:hover:not(.dxm-disabled) span,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys:hover:not(.dxm-disabled) span,
    #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) span,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) span,
    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) span,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled) span {
        color: #fff !important;
    }

#Content .dialogContent #headerTable .menuButtons ul.dx li.danger.dxm-item a, #tpl #Content .menuButtons .danger.dxm-item a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .danger.dxbButtonSys a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.danger.dxm-item a,
#tpl #Content #content .CardGroupContent [role="menubar"] li.danger.dxm-item a,
#tpl #Content #content .NestedFrame [role="menubar"] li.danger.dxm-item a,
#tpl #Content #content #NestedFrame [role="menubar"] li.danger.dxm-item a, #Content .dialogContent #headerTable .menuButtons ul.dx li.danger.dxm-item span, #tpl #Content .menuButtons .danger.dxm-item span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .danger.dxbButtonSys span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.danger.dxm-item span,
#tpl #Content #content .CardGroupContent [role="menubar"] li.danger.dxm-item span,
#tpl #Content #content .NestedFrame [role="menubar"] li.danger.dxm-item span,
#tpl #Content #content #NestedFrame [role="menubar"] li.danger.dxm-item span, #Content .dialogContent #headerTable .menuButtons ul.dx li.success.dxm-item a, #tpl #Content .menuButtons .success.dxm-item a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .success.dxbButtonSys a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.success.dxm-item a,
#tpl #Content #content .CardGroupContent [role="menubar"] li.success.dxm-item a,
#tpl #Content #content .NestedFrame [role="menubar"] li.success.dxm-item a,
#tpl #Content #content #NestedFrame [role="menubar"] li.success.dxm-item a, #Content .dialogContent #headerTable .menuButtons ul.dx li.success.dxm-item span, #tpl #Content .menuButtons .success.dxm-item span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .success.dxbButtonSys span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.success.dxm-item span,
#tpl #Content #content .CardGroupContent [role="menubar"] li.success.dxm-item span,
#tpl #Content #content .NestedFrame [role="menubar"] li.success.dxm-item span,
#tpl #Content #content #NestedFrame [role="menubar"] li.success.dxm-item span, #Content .dialogContent #headerTable .menuButtons ul.dx li.warning.dxm-item a, #tpl #Content .menuButtons .warning.dxm-item a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .warning.dxbButtonSys a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.warning.dxm-item a,
#tpl #Content #content .CardGroupContent [role="menubar"] li.warning.dxm-item a,
#tpl #Content #content .NestedFrame [role="menubar"] li.warning.dxm-item a,
#tpl #Content #content #NestedFrame [role="menubar"] li.warning.dxm-item a, #Content .dialogContent #headerTable .menuButtons ul.dx li.warning.dxm-item span, #tpl #Content .menuButtons .warning.dxm-item span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .warning.dxbButtonSys span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.warning.dxm-item span,
#tpl #Content #content .CardGroupContent [role="menubar"] li.warning.dxm-item span,
#tpl #Content #content .NestedFrame [role="menubar"] li.warning.dxm-item span,
#tpl #Content #content #NestedFrame [role="menubar"] li.warning.dxm-item span {
    color: #fff !important;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.danger.dxm-item:hover a, #tpl #Content .menuButtons .danger.dxm-item:hover a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .danger.dxbButtonSys:hover a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.danger.dxm-item:hover a,
#tpl #Content #content .CardGroupContent [role="menubar"] li.danger.dxm-item:hover a,
#tpl #Content #content .NestedFrame [role="menubar"] li.danger.dxm-item:hover a,
#tpl #Content #content #NestedFrame [role="menubar"] li.danger.dxm-item:hover a, #Content .dialogContent #headerTable .menuButtons ul.dx li.danger.dxm-item:hover span, #tpl #Content .menuButtons .danger.dxm-item:hover span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .danger.dxbButtonSys:hover span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.danger.dxm-item:hover span,
#tpl #Content #content .CardGroupContent [role="menubar"] li.danger.dxm-item:hover span,
#tpl #Content #content .NestedFrame [role="menubar"] li.danger.dxm-item:hover span,
#tpl #Content #content #NestedFrame [role="menubar"] li.danger.dxm-item:hover span, #Content .dialogContent #headerTable .menuButtons ul.dx li.success.dxm-item:hover a, #tpl #Content .menuButtons .success.dxm-item:hover a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .success.dxbButtonSys:hover a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.success.dxm-item:hover a,
#tpl #Content #content .CardGroupContent [role="menubar"] li.success.dxm-item:hover a,
#tpl #Content #content .NestedFrame [role="menubar"] li.success.dxm-item:hover a,
#tpl #Content #content #NestedFrame [role="menubar"] li.success.dxm-item:hover a, #Content .dialogContent #headerTable .menuButtons ul.dx li.success.dxm-item:hover span, #tpl #Content .menuButtons .success.dxm-item:hover span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .success.dxbButtonSys:hover span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.success.dxm-item:hover span,
#tpl #Content #content .CardGroupContent [role="menubar"] li.success.dxm-item:hover span,
#tpl #Content #content .NestedFrame [role="menubar"] li.success.dxm-item:hover span,
#tpl #Content #content #NestedFrame [role="menubar"] li.success.dxm-item:hover span, #Content .dialogContent #headerTable .menuButtons ul.dx li.warning.dxm-item:hover a, #tpl #Content .menuButtons .warning.dxm-item:hover a, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .warning.dxbButtonSys:hover a, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.warning.dxm-item:hover a,
#tpl #Content #content .CardGroupContent [role="menubar"] li.warning.dxm-item:hover a,
#tpl #Content #content .NestedFrame [role="menubar"] li.warning.dxm-item:hover a,
#tpl #Content #content #NestedFrame [role="menubar"] li.warning.dxm-item:hover a, #Content .dialogContent #headerTable .menuButtons ul.dx li.warning.dxm-item:hover span, #tpl #Content .menuButtons .warning.dxm-item:hover span, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .warning.dxbButtonSys:hover span, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.warning.dxm-item:hover span,
#tpl #Content #content .CardGroupContent [role="menubar"] li.warning.dxm-item:hover span,
#tpl #Content #content .NestedFrame [role="menubar"] li.warning.dxm-item:hover span,
#tpl #Content #content #NestedFrame [role="menubar"] li.warning.dxm-item:hover span {
    color: #fff !important;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.danger.dxm-item, #tpl #Content .menuButtons .danger.dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .danger.dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.danger.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.danger.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.danger.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.danger.dxm-item {
    background: #f42 !important;
}

    #Content .dialogContent #headerTable .menuButtons ul.dx li.danger.dxm-item:hover, #tpl #Content .menuButtons .danger.dxm-item:hover, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .danger.dxbButtonSys:hover, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.danger.dxm-item:hover,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.danger.dxm-item:hover,
    #tpl #Content #content .NestedFrame [role="menubar"] li.danger.dxm-item:hover,
    #tpl #Content #content #NestedFrame [role="menubar"] li.danger.dxm-item:hover {
        background: #f42 !important;
    }

#Content .dialogContent #headerTable .menuButtons ul.dx li.success.dxm-item, #tpl #Content .menuButtons .success.dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .success.dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.success.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.success.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.success.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.success.dxm-item {
    background: #4caf50 !important;
}

    #Content .dialogContent #headerTable .menuButtons ul.dx li.success.dxm-item:hover, #tpl #Content .menuButtons .success.dxm-item:hover, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .success.dxbButtonSys:hover, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.success.dxm-item:hover,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.success.dxm-item:hover,
    #tpl #Content #content .NestedFrame [role="menubar"] li.success.dxm-item:hover,
    #tpl #Content #content #NestedFrame [role="menubar"] li.success.dxm-item:hover {
        background: #4caf50 !important;
    }

#Content .dialogContent #headerTable .menuButtons ul.dx li.warning.dxm-item, #tpl #Content .menuButtons .warning.dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .warning.dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.warning.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.warning.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.warning.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.warning.dxm-item {
    background: #ffb22b !important;
}

    #Content .dialogContent #headerTable .menuButtons ul.dx li.warning.dxm-item:hover, #tpl #Content .menuButtons .warning.dxm-item:hover, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .warning.dxbButtonSys:hover, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.warning.dxm-item:hover,
    #tpl #Content #content .CardGroupContent [role="menubar"] li.warning.dxm-item:hover,
    #tpl #Content #content .NestedFrame [role="menubar"] li.warning.dxm-item:hover,
    #tpl #Content #content #NestedFrame [role="menubar"] li.warning.dxm-item:hover {
        background: #ffb22b !important;
    }

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-disabled.dxm-item, #tpl #Content .menuButtons .dxm-disabled.dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxm-disabled.dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-disabled.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-disabled.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-disabled.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-disabled.dxm-item {
    cursor: not-allowed;
}

#tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase,
#tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase {
    border: none;
    overflow: hidden;
    box-shadow: -2px 9px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

    #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .GroupContent .Item + .Item,
    #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .GroupContent .Item + .Item {
        margin-top: 1em;
    }

    #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .GroupHeader,
    #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .GroupHeader {
        border-radius: 5px 5px 0 0;
        background: #fafafa;
        color: #1e88e5;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25em;
        padding: 16px 12px;
    }

        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .GroupHeader .Image,
        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .GroupHeader .Image {
            display: block;
        }

        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .GroupHeader .Label,
        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .GroupHeader .Label {
            color: #1e88e5 !important;
        }

        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .GroupHeader > div,
        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .GroupHeader > div {
            padding-left: 16px;
        }

    #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .CardGroupContent,
    #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .CardGroupContent {
        border-radius: 0 0 5px 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    }

        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode table.CardGroupBase .CardGroupContent .Item,
        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode table.CardGroupBase .CardGroupContent .Item {
            background: #fff !important;
        }

#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys {
    overflow: hidden;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: .25rem;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    position: relative;
    z-index: 1;
}

    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:before,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:before,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:before, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:after,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:after,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all 0.4s ease-in-out;
        transform-origin: center;
    }

    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:before,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:before,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:before {
        height: 1px;
        background: #d1e7fa;
        z-index: 2;
    }

    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:after,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:after,
    #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:after {
        height: 2px;
        background: #1e88e5;
        transform: scaleX(0);
        z-index: 3;
    }

#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeTextBoxSys,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeButtonEditSys,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[class*=dxeDisabled].dxeMemoSys {
    background: #eee;
}

#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:hover:not([class*=dxeDisabled]):after,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:hover:not([class*=dxeDisabled]):after,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:hover:not([class*=dxeDisabled]):after, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:focus:not([class*=dxeDisabled]):after,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:focus:not([class*=dxeDisabled]):after,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:focus:not([class*=dxeDisabled]):after, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:active:not([class*=dxeDisabled]):after,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:active:not([class*=dxeDisabled]):after,
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:active:not([class*=dxeDisabled]):after {
    transform: scaleX(1);
}

#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:hover:not([class*=dxeDisabled]),
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:hover:not([class*=dxeDisabled]),
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:hover:not([class*=dxeDisabled]), #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:focus:not([class*=dxeDisabled]),
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:focus:not([class*=dxeDisabled]),
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:focus:not([class*=dxeDisabled]), #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys:active:not([class*=dxeDisabled]),
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys:active:not([class*=dxeDisabled]),
#tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys:active:not([class*=dxeDisabled]), #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys:active, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys:hover, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys:focus {
    outline: none;
    outline: 0;
    color: #272c33;
    background-color: #fff;
    border-color: #80bdff;
}

#tpl #Content .dxm-popup .dxm-scrollArea .dxm-item {
    background: #fff !important;
    border: none;
}

    #tpl #Content .dxm-popup .dxm-scrollArea .dxm-item .dx.dxm-content.dxalink {
        box-shadow: none;
        background: inherit;
        border: none !important;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        padding: 6px 8px;
        white-space: nowrap;
        font-size: .9em;
    }

        #tpl #Content .dxm-popup .dxm-scrollArea .dxm-item .dx.dxm-content.dxalink span {
            margin-left: 2px;
        }

        #tpl #Content .dxm-popup .dxm-scrollArea .dxm-item .dx.dxm-content.dxalink img.dxm-image {
            width: 24px !important;
            height: 24px !important;
        }

    #tpl #Content .dxm-popup .dxm-scrollArea .dxm-item:hover {
        background: #1e88e5 !important;
        color: #fff !important;
    }

        #tpl #Content .dxm-popup .dxm-scrollArea .dxm-item:hover .dx.dxm-content.dxalink {
            color: inherit;
        }

            #tpl #Content .dxm-popup .dxm-scrollArea .dxm-item:hover .dx.dxm-content.dxalink span {
                color: inherit;
            }

#tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:before, #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:after {
    content: '';
    position: absolute;
    border: 4px solid #fff;
    border-left: none;
    border-right: none;
    height: 30%;
    width: 70%;
    box-sizing: border-box;
    left: auto;
    left: 15%;
    transition: .25s ease-in;
}

#tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:before, #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:after {
    transition: .25s ease-in;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink, #tpl #Content .menuButtons .dxm-item > .dxm-content.dxm-hasText.dx.dxalink, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys > .dxm-content.dxm-hasText.dx.dxalink, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink,
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink,
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item > .dxm-content.dxm-hasText.dx.dxalink, .z-depth-0, #tpl #Content .z-depth-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item, #tpl #Content .menuButtons .dxm-item, #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys, #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item,
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item,
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item, #tpl #Content #content [role="menubar"] li.dxm-item.dxm-tmpl .dxeButtonEditSys,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-tmpl .dxeButtonEditSys, .z-depth-1, #tpl #Content .z-depth-1, #tpl #Content .LogonMainTable .LogonContent, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys, #tpl #Content .xafHeaderMenu .menuLinks.dxm-main .dx[role=menubar] .dxm-item {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, #tpl #Content .z-depth-1-half {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2, #tpl #Content .z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item:hover:not(.dxm-disabled), #tpl #Content .menuButtons .dxm-item:hover:not(.dxm-disabled), #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys:hover:not(.dxm-disabled), #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item:hover:not(.dxm-disabled),
#tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item:hover:not(.dxm-disabled),
#tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled),
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item:hover:not(.dxm-disabled), .z-depth-3, #tpl #Content .z-depth-3, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys:active, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys:hover, #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys:focus {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.z-depth-4, #tpl #Content .z-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.z-depth-5, #tpl #Content .z-depth-5 {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

#tpl #Content #content [role="menubar"] li.dxm-separator,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-separator, #tpl #Content #content [role="menubar"] li.dxm-spacing,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-spacing {
    height: auto !important;
    display: none;
}

#tpl #Content #content [role="menubar"] li.dxm-item,
#tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item {
    min-width: unset !important;
    padding: 6px 8px !important;
    line-height: 0 !important;
    box-sizing: border-box !important;
    margin-left: 4px !important;
    display: inline-block;
}

    #tpl #Content #content [role="menubar"] li.dxm-item.dxm-noImage,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-noImage {
        min-height: 38px;
    }

        #tpl #Content #content [role="menubar"] li.dxm-item.dxm-noImage:not(.dxm-ami),
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-noImage:not(.dxm-ami) {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }

        #tpl #Content #content [role="menubar"] li.dxm-item.dxm-noImage > a > span,
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-noImage > a > span {
            margin-top: 3px;
        }

    #tpl #Content #content [role="menubar"] li.dxm-item.dxm-ami,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-ami {
        padding: 0 !important;
    }

        #tpl #Content #content [role="menubar"] li.dxm-item.dxm-ami .dxm-popOut,
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-ami .dxm-popOut {
            margin: 0 !important;
            padding: 9px 10px !important;
            border-radius: 60px;
        }

            #tpl #Content #content [role="menubar"] li.dxm-item.dxm-ami .dxm-popOut span,
            #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-ami .dxm-popOut span {
                margin: 0 !important;
            }

    #tpl #Content #content [role="menubar"] li.dxm-item.captionAndImage > a,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.captionAndImage > a {
        padding-top: 3px !important;
    }

    #tpl #Content #content [role="menubar"] li.dxm-item.dxm-tmpl,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-tmpl {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        box-shadow: none !important;
    }

        #tpl #Content #content [role="menubar"] li.dxm-item.dxm-tmpl .dxeButtonEditSys,
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-tmpl .dxeButtonEditSys {
            border-radius: 60px;
            border: none;
            margin-left: 4px;
            padding-left: 4px;
            padding-right: 4px;
        }

        #tpl #Content #content [role="menubar"] li.dxm-item.dxm-tmpl:hover,
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-tmpl:hover {
            background-color: transparent !important;
        }

            #tpl #Content #content [role="menubar"] li.dxm-item.dxm-tmpl:hover .ControlCaption span,
            #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item.dxm-tmpl:hover .ControlCaption span {
                color: #4a4a4a !important;
            }

    #tpl #Content #content [role="menubar"] li.dxm-item .dxm-popOut,
    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item .dxm-popOut {
        height: auto !important;
        margin: 3px 0 0 6px !important;
        padding: 0 !important;
    }

        #tpl #Content #content [role="menubar"] li.dxm-item .dxm-popOut span,
        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item .dxm-popOut span {
            margin-top: 0 !important;
        }

#Content .dialogContent #headerTable .menuButtons ul.dx li.dxm-item {
    color: red;
}

#footer {
    color: #99abb4;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #fff;
}

    #footer > div {
        text-align: center;
        font-size: 11px;
        padding: 4px 0;
        line-height: 1.5;
        letter-spacing: 1px;
    }

        #footer > div br:last-child {
            display: none;
        }

#tpl {
    background: #eef5f9;
}

    #tpl #Content {
        background: #eef5f9;
    }

        #tpl #Content .dx.dxm-content.dxalink img.dxm-image {
            width: 16px !important;
            height: 16px !important;
            padding: 0 !important;
            margin: 0 !important;
            object-fit: cover;
            display: inline-block !important;
        }

        #tpl #Content .dx.dxm-content.dxalink span {
            text-decoration: none !important;
        }

        #tpl #Content .dxeButton {
            color: #4a4a4a;
        }

        #tpl #Content span[class*=dxICheckBox] {
            border: 2px solid #1e88e5;
            background: none;
            transition: .2s ease;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

            #tpl #Content span[class*=dxICheckBox][class*=CheckBoxChecked] {
                width: 8px;
                height: 16px;
                transform: rotate(40deg);
                border-top-color: transparent;
                border-left-color: transparent;
                margin-left: 4px;
                margin-right: 4px;
            }

            #tpl #Content span[class*=dxICheckBox][class*=Disabled] {
                border-bottom-color: #aaa;
                border-right-color: #aaa;
                cursor: not-allowed;
            }

        #tpl #Content [class*="dxgvPager"] > div > b, #tpl #Content [class*="dxgvPager"] > div > .dxp-num {
            display: block;
            height: 35px;
            box-sizing: border-box;
            padding-top: 0;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 8px;
            padding-left: 12px;
            padding-right: 12px;
            max-height: 32px;
        }

        #tpl #Content [class*="dxgvPager"] {
            padding: 8px;
            margin: 0;
            border: none;
        }

            #tpl #Content [class*="dxgvPager"] > div {
                padding: 0;
            }

                #tpl #Content [class*="dxgvPager"] > div > .dxp-num {
                    border-radius: 0;
                    border: 1px solid #ddd;
                }

                    #tpl #Content [class*="dxgvPager"] > div > .dxp-num.dxp-current {
                        border-color: #1e88e5;
                        background: #1e88e5;
                    }

                    #tpl #Content [class*="dxgvPager"] > div > .dxp-num:not(.dxp-current) {
                        background: #fff;
                        border-left: 1px solid #ddd;
                    }

                    #tpl #Content [class*="dxgvPager"] > div > .dxp-num + .dxp-num {
                        border-left: none;
                    }

                    #tpl #Content [class*="dxgvPager"] > div > .dxp-num:hover:not(.dxp-current) {
                        background: #eee;
                    }

                #tpl #Content [class*="dxgvPager"] > div > .dxp-lead {
                    border-radius: 0;
                    border-right: none;
                }

            #tpl #Content [class*="dxgvPager"] .dxp-button {
                padding: 0 8px;
                max-height: 32px;
                box-sizing: border-box;
                height: 32px;
                display: flex;
                align-items: center;
            }

                #tpl #Content [class*="dxgvPager"] .dxp-button:not(.dxp-lead) {
                    margin: 0;
                    border-radius: 0;
                    border-left: none;
                }

                #tpl #Content [class*="dxgvPager"] .dxp-button img {
                    object-fit: cover;
                    display: block;
                    margin: 0;
                    padding: 0;
                    transform: scale(0.7);
                }

            #tpl #Content [class*="dxgvPager"] .dxp-pageSizeItem .dxp-comboBox {
                border-radius: 30px;
                overflow: hidden;
            }

                #tpl #Content [class*="dxgvPager"] .dxp-pageSizeItem .dxp-comboBox > input {
                    text-align: center;
                }

        #tpl #Content .xafNav .dxnbSys li.dxnb-gr .dxnb-headerCollapsed, #tpl #Content .xafNav .dxnbSys li.dxnb-gr .dxnb-header {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        #tpl #Content .xafNav .dxnbSys li.dxnb-gr .dxnb-headerCollapsed, #tpl #Content .xafNav .dxnbSys li.dxnb-gr .dxnb-header {
            border: none;
            color: #99abb4;
        }

        #tpl #Content .dxpnlControl .xafNav {
            border: none !important;
        }

        #tpl #Content .xafNav .dxnbSys {
            border: none !important;
            background: none !important;
        }

            #tpl #Content .xafNav .dxnbSys li.dxnb-gr {
                background: #272c33;
                overflow: hidden;
                border: none;
                border-top: 1px solid rgba(120, 130, 140, 0.13);
                transition: .25s ease-in-out;
            }

                #tpl #Content .xafNav .dxnbSys li.dxnb-gr .dxnb-headerCollapsed {
                    background: transparent;
                }

                #tpl #Content .xafNav .dxnbSys li.dxnb-gr .dxnb-header {
                    overflow: hidden;
                    background: #272c33;
                }

                #tpl #Content .xafNav .dxnbSys li.dxnb-gr:hover {
                    color: #26c6da;
                }

        #tpl #Content .xafNav > .xafContent {
            background: none;
        }

            #tpl #Content .xafNav > .xafContent .NavBarLiteAC {
                background: #272c33 !important;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            }

        #tpl #Content .xafNav .dxnb-content {
            padding: 0;
            background: #2c323a;
        }

            #tpl #Content .xafNav .dxnb-content li.dxnb-item {
                border-radius: 0;
                transition: 0.25s ease;
                padding-left: 22px;
                margin-left: 30px;
                position: relative;
                min-height: 30px;
                padding: 6px 0;
                display: flex !important;
                align-items: center;
                justify-content: flex-end;
                background: inherit;
                color: #99abb4;
                z-index: 1;
                font-size: .9em;
                font-weight: 300;
            }

                #tpl #Content .xafNav .dxnb-content li.dxnb-item span.dx-vam {
                    flex: 1;
                    max-width: 83%;
                }

                #tpl #Content .xafNav .dxnb-content li.dxnb-item:hover {
                    color: #26c6da;
                }

                    #tpl #Content .xafNav .dxnb-content li.dxnb-item:hover:after {
                        transform: translateX(0);
                        opacity: 1;
                    }

                #tpl #Content .xafNav .dxnb-content li.dxnb-item.dxnb-itemSelected {
                    background: #26c6da;
                    color: #fff;
                }

                #tpl #Content .xafNav .dxnb-content li.dxnb-item:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: rgba(4, 92, 173, 0.2);
                    content: '';
                    z-index: -1;
                    width: 100%;
                    transition: .25s ease-out;
                    transform: translateX(-50%);
                    opacity: 0;
                }

        #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeTextBoxSys td.dxic,
        #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeButtonEditSys td.dxic,
        #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys td.dxic {
            padding: 8px 0 !important;
        }

        #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell .dxbButtonSys .dxb[id*=dviPhoto_Edit] {
            padding: 0;
        }

        #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[id*=dviPhoto_Edit] {
            margin-left: auto;
            margin-right: auto;
        }

            #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[id*=dviPhoto_Edit] tr td:first-child .dxbButtonSys {
                border-radius: 60px 0 0 60px !important;
            }

            #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table[id*=dviPhoto_Edit] tr td:last-child .dxbButtonSys {
                border-radius: 0 60px 60px 0 !important;
            }

        #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys {
            border-radius: 5px !important;
        }

            #tpl #Content table[id*="WebEditorContainer"] .WebEditorCell table.dxeMemoSys .dxeMemoEditAreaSys {
                min-height: 60px;
                padding: 8px 0;
            }

        #tpl #Content .AdaptivityEditorContainer [id*=MainLayoutEdit].dxrpcontent .GroupContent .AdaptivityEditorContainer .Item {
            background: #fff !important;
        }

        #tpl #Content .AdaptivityEditorContainer [id*=MainLayoutEdit].dxrpcontent table[id*=MainLayoutEdit].GroupContent + table[id*=MainLayoutEdit].GroupContent {
            margin-top: 1rem;
        }

        #tpl #Content .AdaptivityEditorContainer [id*=MainLayoutEdit].dxrpcontent table[id*=MainLayoutEdit].GroupContent + .Item {
            margin-top: 1rem;
        }

        #tpl #Content .AdaptivityEditorContainer [id*=MainLayoutEdit].dxrpcontent .Item {
            background: #fff !important;
        }

        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutEditMode td.Caption,
        #tpl #Content div#content #viewSite [id*="Vertical"] .LayoutViewMode td.Caption {
            font-size: 1em;
            font-weight: 600;
            width: 100% !important;
        }

        #tpl #Content .required {
            color: #f42;
            font-weight: 600;
            font-size: 1.5em;
            padding: 0 2px;
            line-height: 0;
        }

        #tpl #Content .LogonMainTable {
            border: none;
        }

            #tpl #Content .LogonMainTable .LogonContent {
                border-radius: 6px;
                border: none;
            }

                #tpl #Content .LogonMainTable .LogonContent .menuButtons .dxm-item {
                    background: #1e88e5 !important;
                }

                    #tpl #Content .LogonMainTable .LogonContent .menuButtons .dxm-item > .dxm-content.dxm-hasText.dx.dxalink {
                        color: #fff;
                    }

                        #tpl #Content .LogonMainTable .LogonContent .menuButtons .dxm-item > .dxm-content.dxm-hasText.dx.dxalink span {
                            color: #fff;
                        }

        #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC {
            padding: 0 !important;
            margin: 0 !important;
        }

            #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dx .dxm-item {
                background: none !important;
                margin: 0 0 0 8px !important;
                box-shadow: none !important;
                border: none !important;
            }

                #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dx .dxm-item:hover {
                    box-shadow: none;
                    background: none !important;
                }

            #tpl #Content #content .menuAreaDiv #menuCell #menuContainer #Vertical_SearchAC .dxeButtonEditSys {
                border-radius: 60px;
                overflow: hidden;
                padding-top: 2px;
                padding-bottom: 2px;
                padding: 2px 8px;
                margin: 0 !important;
                border: none !important;
            }

        #tpl #Content #content [role="menubar"] {
            color: initial;
        }

        #tpl #Content #content .LayoutTabContainer,
        #tpl #Content #content .CardGroupContent,
        #tpl #Content #content .NestedFrame,
        #tpl #Content #content #NestedFrame {
            box-sizing: border-box;
        }

            #tpl #Content #content .LayoutTabContainer [role="menubar"],
            #tpl #Content #content .CardGroupContent [role="menubar"],
            #tpl #Content #content .NestedFrame [role="menubar"],
            #tpl #Content #content #NestedFrame [role="menubar"] {
                display: flex;
                align-items: center;
            }

                #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item,
                #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item,
                #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item,
                #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item {
                    box-sizing: border-box;
                }

                    #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item:not(.dxm-ami),
                    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item:not(.dxm-ami),
                    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item:not(.dxm-ami),
                    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item:not(.dxm-ami) {
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                    }

                    #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item a,
                    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item a,
                    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item a,
                    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item a {
                        font-size: .9rem !important;
                    }

                        #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item a span,
                        #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item a span,
                        #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item a span,
                        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item a span {
                            font-size: 1rem !important;
                            margin: 0 !important;
                        }

                    #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item a,
                    #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item span,
                    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item a,
                    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item span,
                    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item a,
                    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item span,
                    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item a,
                    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item span {
                        padding: 0 !important;
                    }

                        #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item a.dxm-pImage,
                        #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item span.dxm-pImage,
                        #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item a.dxm-pImage,
                        #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item span.dxm-pImage,
                        #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item a.dxm-pImage,
                        #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item span.dxm-pImage,
                        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item a.dxm-pImage,
                        #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item span.dxm-pImage {
                            max-height: 16px;
                            box-sizing: border-box !important;
                        }

                    #tpl #Content #content .LayoutTabContainer [role="menubar"] li.dxm-item .dxm-popOut,
                    #tpl #Content #content .CardGroupContent [role="menubar"] li.dxm-item .dxm-popOut,
                    #tpl #Content #content .NestedFrame [role="menubar"] li.dxm-item .dxm-popOut,
                    #tpl #Content #content #NestedFrame [role="menubar"] li.dxm-item .dxm-popOut {
                        margin: 0 !important;
                    }

        #tpl #Content .dxm-popup {
            border: none;
            padding: 4px 0;
            border-radius: 6px;
        }

        #tpl #Content #headerTableDiv {
            background: linear-gradient(to bottom, #1e88e5, #0d8bf2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            border: none;
        }

            #tpl #Content #headerTableDiv .headerTable {
                background: transparent;
            }

                #tpl #Content #headerTableDiv .headerTable > tbody > tr > td:nth-child(2) div {
                    border-right: 1px solid #fff !important;
                }

                #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage {
                    background: none;
                    position: relative;
                    box-sizing: border-box;
                    display: block !important;
                }

                    #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage.xafHidden {
                        display: block !important;
                    }

                    #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:not(.xafHidden):before {
                        border-top-width: 0;
                        transform: translateX(15%) translateY(-75%) rotate(45deg);
                    }

                    #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:not(.xafHidden):after {
                        border-bottom-width: 0;
                        transform: translateX(15%) translateY(75%) rotate(-45deg);
                    }

                    #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:before {
                        top: 50%;
                    }

                    #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationImage:after {
                        bottom: 50%;
                    }

                #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationActiveImage {
                    display: none !important;
                }

                    #tpl #Content #headerTableDiv .headerTable .xafNavToggle .ToggleNavigationActiveImage.xafNavVisible {
                        display: none !important;
                    }

        #tpl #Content .xafHeaderMenu .menuLinks.dxm-main .dx[role=menubar] {
            display: flex;
            align-items: center;
        }

            #tpl #Content .xafHeaderMenu .menuLinks.dxm-main .dx[role=menubar] .dxm-item {
                border: 1px solid #fff !important;
                color: #fff !important;
                background: #fff;
                border-radius: 60px;
                margin-left: 8px;
                padding: 6px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                #tpl #Content .xafHeaderMenu .menuLinks.dxm-main .dx[role=menubar] .dxm-item a {
                    color: #fff !important;
                    padding: 0;
                    padding: 0 !important;
                    box-sizing: border-box !important;
                }

                #tpl #Content .xafHeaderMenu .menuLinks.dxm-main .dx[role=menubar] .dxm-item.notificationItem {
                    background-color: #33B360;
                }

        #tpl #Content #Vertical_LogoLink {
            text-decoration: none;
        }

            #tpl #Content #Vertical_LogoLink img {
                display: block;
            }

            #tpl #Content #Vertical_LogoLink .logo-alt {
                display: none;
                text-decoration: none;
                padding: 8px 0;
                font-size: 1.5em;
                font-weight: 600;
                color: #fff;
            }

@media screen and (max-width: 768px) {
    #tpl #Content #Vertical_LogoLink img {
        display: none;
    }

    #tpl #Content #Vertical_LogoLink .logo-alt {
        display: block;
    }
}

#tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-sva .dxtc-strip .dxtc-tab:hover, #tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-sva .dxtc-strip .dxtc-tab:hover a {
    background: #cfe8fc !important;
}

#tpl #Content #content div#viewSite {
    width: calc(100% - 16px) !important;
    margin: 8px;
}

    #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item {
        background: #fff !important;
    }

        #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem {
            padding-bottom: 0;
            box-shadow: -2px 9px 12px 0 rgba(0, 0, 0, 0.2);
        }

            #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem table.dxgvRBB tbody tr:nth-child(odd) {
                background: #f2f4f8;
            }

            #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem table.dxgvRBB tbody tr td {
                border: none;
            }

                #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem table.dxgvRBB tbody tr td.dxgvIndentCell {
                    background: #fff !important;
                }

            #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem table.dxgvRBB tbody tr:hover td {
                background: #f8f9fb;
            }

            #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem table.dxgvRBB tbody tr[id*=HeadersRow] {
                background: #fff;
            }

                #tpl #Content #content div#viewSite div[id*=Vertical] div[id*=Vertical] > .Item.ListViewItem table.dxgvRBB tbody tr[id*=HeadersRow] td {
                    background: #fff;
                    color: #99abb4;
                    border-color: #fff;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-right-color: rgba(255, 255, 255, 0.2);
                    font-size: 1rem;
                    font-weight: 400;
                }

    #tpl #Content #content div#viewSite .Item.ListViewItem .GridView.dxgv {
        border: none;
    }

    #tpl #Content #content div#viewSite .dxtc-stripContainer {
        padding-top: 0;
    }

        #tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-sva .dxtc-strip .dxtc-activeTab {
            border: 1px solid #c6c6c6 !important;
            border-bottom-color: transparent !important;
            color: #1e88e5;
            background-color: #fff;
            border-top: 4px solid #1e88e5 !important;
        }

            #tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-sva .dxtc-strip .dxtc-activeTab a {
                color: #1e88e5;
            }

            #tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-sva .dxtc-strip .dxtc-activeTab.dxtc-lead {
                border-left: none !important;
            }

        #tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-sva .dxtc-strip .dxtc-tab {
            background: transparent;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-left-color: transparent !important;
        }

        #tpl #Content #content div#viewSite .dxtc-stripContainer .dxtc-leftIndent {
            border: none;
        }

    #tpl #Content #content div#viewSite [class*=dxeEditArea] {
        background-color: transparent;
    }

    #tpl #Content #content div#viewSite .LayoutTabbedGroupContainer[id*=MainLayoutEdit][id*=CardTable] {
        background: #fff;
        box-shadow: -2px 9px 12px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px;
    }

        #tpl #Content #content div#viewSite .LayoutTabbedGroupContainer[id*=MainLayoutEdit][id*=CardTable] .TabControlContent {
            border: none;
        }

    #tpl #Content #content div#viewSite [class*=dxgvTable] {
        border: none;
    }

    #tpl #Content #content div#viewSite .GroupContent > .Item table[id*=MainLayoutEdit] td.Caption {
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 8px;
        padding: 0;
        display: inline-block;
        height: auto;
    }

    #tpl #Content #content div#viewSite [id*=MainLayoutEdit] + .Item {
        margin-top: 1em;
    }

    #tpl #Content #content div#viewSite .dxm-main {
        margin: 0;
        padding: 0;
    }

#tpl #Content #content .movedMenu#menuAreaDiv {
    background: #1e88e5;
}

#tpl #Content .CardGroupContent > .Item + .Item {
    margin-top: 1em;
}

#tpl #Content div.dxm-main.dxm-horizontal.menuButtons {
    display: flex !important;
    align-items: center;
    margin: 0 !important;
    padding: 0;
    min-width: unset !important;
}

#tpl #Content .SingleChoiceActionItemEditor table.dxeButtonEditSys.dxeButtonEdit_XafTheme {
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
    overflow: hidden;
    border: none;
}

    #tpl #Content .SingleChoiceActionItemEditor table.dxeButtonEditSys.dxeButtonEdit_XafTheme * {
        outline: none;
    }

#tpl #Content .TreeViewNavControl > div > ul {
    width: 290px;
}

    #tpl #Content .TreeViewNavControl > div > ul > li {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

        #tpl #Content .TreeViewNavControl > div > ul > li .dxtv-nd {
            border-radius: 0;
            transition: padding 0.25s ease;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

            #tpl #Content .TreeViewNavControl > div > ul > li .dxtv-nd a,
            #tpl #Content .TreeViewNavControl > div > ul > li .dxtv-nd a span {
                color: #fff !important;
            }

            #tpl #Content .TreeViewNavControl > div > ul > li .dxtv-nd.dxtv-ndHov {
                background: #272c33;
            }

/*# sourceMappingURL=style.css.map */
